__pypackages__
.venv
.uv
.git
.idea
.vscode
__pycache__
*.py[cod]
*.egg-info
build
dist
.env
ui/node_modules
ui/dist
ui/.vite
storage/logs
storage/media
storage/static
notebooks/storage
mcp_server/.venv
